body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div.menu {
    background-color: white;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    padding: 0;
}

img.logo{
    width: 125px;
    height: 90px;
    margin-right: 20px;
}

a.menu {
    color: black;
    padding-left: 50px;
}

#home{
    padding-top: 110px;
}

#assoc{
    display:inline-flex;
    margin: 100px 0px 100px 0px;
}

img.borda1{
    height: 400px;
}
img.borda2{
    height: 400px;
}

div.hist {
    margin: 0px 100px 0px 100px;
    background-color:rgb(245, 207, 213);
}
h2.hist{
    text-align: center;
    padding-top: 20px;
}
p.hist{
    padding: 30px;
    text-align: justify
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul.menu p{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#denuncie{
    background-color: rgb(188, 214, 206);
    text-align: center;
}

h1.denuncia{
    padding-top: 50px;
}

p.app{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 50px;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin: 20px;}